:host {
  display: block;
}

.card-gradient-blue {
  background: linear-gradient(135deg, #3a2d6b 0%, #7c5cf0 100%);
}

.card-gradient-dark {
  background: linear-gradient(135deg, #2a2a33 0%, #46464e 100%);
}
